
.amplify-sign-out {
    float: right;
}
.welcome {
    text-align: right;
}
.container {
    padding: 20px;
  }
  
.auth_container {
    text-align: center;
    margin: 30px;
}
.dark {
    background-color: #4D6584;
    color: white;
  }
  
  .dark * a {
    color: white !important;
  }
  
  .header_mode {
    float: left;
  }
  
  .translate-input {
    width: 500px !important;
  }
  
  p {
    padding: 24px;
    color: gray;
  }
  
  .speech-input {
    width: 500px !important;
  }
  
  .interpretation-input {
    width: 500px !important;
  }
  
  .result-content {
    padding: 20px;
  }
  
  .title {
    float: left;
  }
  
  .main-contents {
    float: left;
    width: 100%;
  }
  
  .error {
    color: red;
  }
  